
img{
    width: 200px;
    border-radius: 75%;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}